{% extends 'base_admin.html' %}
{% load static %}

{% block title %}Agregar Aspirante{% endblock %}

{% block content %}
    <h1 class="bienvenida">Agregar Aspirante</h1>

    {% if message %}
        <p class="mensaje">{{ message }}</p>
    {% endif %}

    <form method="post" class="formulario">
        {% csrf_token %}
        {{ form }}

        <div class="acciones-doble">
            <button type="submit" class="guardar">Guardar</button>
            <a href="{% url 'home:admin' %}" class="cancelar">Cancelar</a>
        </div>
    </form>
{% endblock %}
