{% extends 'base_admin.html' %}
{% load static %}

{% block title %}Cargar Aspirantes{% endblock %}

{% block content %}
    <h1 class="bienvenida">Cargar Aspirantes</h1>

    {% if message %}
        <p class="mensaje" style="color: green;">{{ message }}</p>
    {% endif %}

    {% if duplicados %}
        <div class="mensaje" style="color: red; margin-top: 1em;">
            <p>Los siguientes correos ya estaban registrados y no fueron cargados:</p>
            <ul>
                {% for email in duplicados %}
                    <li>{{ email }}</li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}

    <div class="formulario-center">
  <form method="post" enctype="multipart/form-data" class="formulario formulario--left" style="display: flex; gap: 1.5rem; align-items: flex-end; flex-wrap: wrap;">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Aceptar" class="guardar" />
</form>

</div>
{% endblock %}
