
{% block content %}
  {% if message %}
    <p style="color: green;">{{ message }}</p>
  {% endif %}

  {% if duplicados %}
    <div style="color: red; margin-top: 1em;">
      <p>Los siguientes correos ya estaban registrados y no fueron cargados:</p>
      <ul>
        {% for email in duplicados %}
          <li>{{ email }}</li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}

  <form method="post" enctype="multipart/form-data">
      {% csrf_token %}
      {{ form }}
      <input type="submit" value="Aceptar">
  </form>
{% endblock %}
