{% extends 'base.html' %}

{% block title %}Home Aspirante{% endblock %}

{% block content %}
{% load static %}
<h1>{{ user.exam.full_name }} - {{ user.exam.career }}</h1>
<hr>
<img src="{% static 'images/mascotaUtt.png' %}" alt="Logo UTT" class="guerrero">
<h2 class="welcome">El examen estará habilitado hasta el día -- de -- de 2025 a partir de las 9:00 hrs</h2>
<hr>
<form action="{% url 'logout' %}" method="post">
    {% csrf_token %}
    <input type="submit" value="Salir" class="exit">
</form>
{% endblock %}
    