{% extends 'base.html' %}
{% block title %}Home Aspirante{% endblock %}

{% block content %}
{% load static %}

<!-- Barra SEANI -->
<div class="seani-barra">
    <h1>SEANI 2025</h1>
</div>
<div class="seani-espacio"></div>

<!-- Contenido -->
<div class="seani-contenido">
    <div class="barra-superior">
            <h1>{{ user.exam.full_name }} - {{ user.exam.career }}</h1>
        <div class="boton-salir">
            <form action="{% url 'home:logout' %}" method="post">
                {% csrf_token %}
                <input type="submit" value="Salir" class="exit">
            </form>
        </div>
    </div>
    <hr>

    <h2 class="welcome">Bienvenido al Sistema de Evaluación para Aspirantes de Nuevo Ingreso SEANI 2025</h2>

    <ul>
        <li>
            El examen que presentarás a continuación consta de 90 preguntas divididas en 4 módulos:
            <ul>
                <li><strong>Módulo 1:</strong> Comprensión lectora (15 preguntas)</li>
                <li><strong>Módulo 2:</strong> Estructura de la lengua (24 preguntas)</li>
                <li><strong>Módulo 3:</strong> Pensamiento matemático (23 preguntas)</li>
                <li><strong>Módulo 4:</strong> Pensamiento analítico (28 preguntas)</li>
            </ul>
        </li>
        <li>El examen está programado para responderse en 120 minutos. Sin embargo, estará activo entre las 9:00 hrs y las 13:00 hrs.</li>
        <li>Si ingresaste después de las 9:00, aún puedes realizarlo dentro de ese rango de tiempo.</li>
        <li>Las preguntas son de opción múltiple. A continuación se muestra un ejemplo:</li>
    </ul>

    <div class="centrado">
        <img src="{% static 'images/pregunta2.png' %}" alt="Ejemplo Pregunta" width="400px">
    </div>

    <ul>
        <li><strong>Instrucciones importantes:</strong>
            <ul>
                <li>Haz clic sobre el módulo que deseas comenzar. Se mostrará la primera pregunta correspondiente.</li>
                <li>La navegación dentro de cada módulo es únicamente hacia adelante.</li>
                <li>Al llegar a la última pregunta, automáticamente regresarás a esta pantalla.</li>
                <li>Si necesitas revisar o completar alguna respuesta, puedes volver a ingresar al módulo correspondiente y avanzar hasta la pregunta deseada.</li>
                <li>Una vez que hayas terminado los 4 módulos, haz clic en el botón “Salir”.</li>
                <li>Los resultados serán publicados posteriormente en la página oficial de la Universidad.</li>
            </ul>
        </li>
    </ul>

    <hr>
    <h2 class="titulo-rojo">Selecciona un módulo para comenzar</h2>
    <div class="card-container">
        {% for module in modules %}
        <a href="{% url 'exam:question' module.module.id %}">
            <div class="card">
                <h3>{{ module }}</h3>
                <p>{{ module.module.num_questions }} Preguntas</p>
            </div>
        </a>
        {% endfor %}
    </div>
    <hr>

</div>
{% endblock %}
