{% extends 'base_admin.html' %}

{% block title %}Inicio{% endblock %}

{% block content %}
<h1 class="bienvenida">Bienvenido Administrador</h1>

<div class="graf-container">
  {% for modulo in modulos %}
  <div class="graf-box 
    {% if modulo.nombre == 'Comprensión lectora' %}azul{% endif %}
    {% if modulo.nombre == 'Estructura de la lengua' %}amarillo{% endif %}
    {% if modulo.nombre == 'Pensamiento matemático' %}rojo{% endif %}
    {% if modulo.nombre == 'Pensamiento analítico' %}morado{% endif %}
  " data-module-id="{{ modulo.id }}">
    <h3>{{ modulo.nombre }}</h3>
    <div class="mod-animation">
      {{ modulo.svg|safe }}
    </div>
    <div class="graf-msg">Da click para ingresar a la gráfica de este módulo</div>
  </div>
  {% endfor %}
</div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
    document.querySelectorAll('.graf-box').forEach(box => {
      box.addEventListener('click', () => {
        const moduleId = box.getAttribute('data-module-id');
        if (moduleId) {
          window.location.href = "/admin-home/modulo-detalle/?module_id=" + moduleId;
        }
      });
    });
  });
</script>
{% endblock %}
